*__pycache__*
*.pyc
.projectile
/*.egg-info
dist/
build/
target/
pg-cred.json
cache/
yapf*
*.pem
*.key
application.yml
*.env
credentials
cred.json
lib/*/*.py
*.so
*_wrap.c
cred.json
db.sql
migrations/
*.out
*.csv
*.xlsx
dump.rdb
.git-credentials
.aws-credentials
test.db
